@media only screen and (min-width: 768px) and (max-width: 991px)  {
  /* Typography */
  h1.main__title,
  h2.main__col__title {
    font-size: 18px;
  }

  p.main__col__text {
    font-size: 16px;
    line-height: 26px;
  }

  /* Flexbox */

  .main {
    padding: 30px 30px;
  }

  .icon {
    height: 140px;
  }
}


@media only screen and (min-width: 313px) and (max-width: 767px) {
  p.main__col__text {
    display: none;
  }

  h1.main__title {
    font-size: 15px;
    margin-bottom: 20px;
  }

  h2.main__col__title {
    font-size: 13px;
    font-weight: 400;
    color: #666;
  }

  /* Flexbox */

  .main {
    padding: 30px 30px;
    background: #f0f0f0;
  }

  .main__col--mobile-only {
    display: flex;
    justify-content: center;
  }
  /* Arrow */

  .main__col--mobile-only .icon {
    height: 20px;
    position: relative;
    top: 20px;
  }

  .icon {
    height: 60px;
  }

}
