@media only screen and (min-width: 768px) and (max-width: 991px)  {
  
  /* Layout */

  .row {
    max-width: 61rem;
  }


  .how-it-works-section {
    box-shadow: none;
  }
 

}


@media only screen and (min-width: 313px) and (max-width: 767px) {

  /* Layout */

  .how-it-works-section {
    padding: 3rem 3rem;
    background-color: #f0f0f0;
    box-shadow: none;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 0 auto;
  }

 
  .column.column--mobile {
    display: block;
    width: 10%;
  }


  .hr {
    display: none;
  }

  /* Typography */  

  .section-header {
    letter-spacing: .1rem;
  }
 
  .column__title {
    font-weight: 400;
    font-size: 1.2rem;
    color: #666;
  }

  .column__text {
    display: none;
  }


  /* Icon */

  .icon {
    height: 6rem;
    margin-bottom: .5rem;
  }

  /* Arrow icon */

  .column--mobile .icon {
    height: 2rem;
    position: relative;
    top: 20px;
  }
}
