/* Resets */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* It defines what 1rem is. It is 10px which is 62.5% of browsers font-size: 16px */

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* Layout */

.how-it-works-section {
  padding: 6rem 0;
  box-shadow: inset 0 1rem 1rem -0.8rem rgba(0, 0, 0, 0.4);
}


.row {
  max-width: 90rem;
  margin: 0 auto 6rem auto;
}

.clearfix {zoom: 1}
.clearfix::after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


.column {
  width: calc((100% - 2 * 2rem) / 3);
  float: left;
  text-align: center;
}

.column:not(:last-child) {
  margin-right: 2rem;
}

.column--mobile {
  display: none;
}

.hr {
  height: 1px;
  width: 90%;
  background-color: #ccc;
  margin: 0 auto;
}

/* Typography */

.section-header,
.column__title {
  color: #333;
  margin-bottom: 1rem;
}

.section-header {
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
}

.column__title {
  font-size: 1.7rem;
  font-weight: 600;
}

.column__text {
  color: #666;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2rem;
  width: 90%;
  margin: auto;

}

/* Icon */

.icon {
  height: 110px;
}
